#flex-container {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    position: absolute;
    width: 100%;
    height: 500px;
    overflow: none;
}
#flex-container>div {
    flex-grow: 1;
    -webkit-flex-grow: 1;
    position: relative;
}
#flex-container>div#uiacediff-gutter {
    flex: 0 0 40px;
    -webkit-flex: 0 0 40px;
    border-left: 1px solid #111111;
    border-right: 1px solid #111111;
    background-color: #222222;

    /* prevents the bounce on FF, mac osx */
    overflow: hidden;
    height: 100%;
    width: 100%;
}
#uiacediff-gutter svg {
    background-color: #222222;
}

#uiacediff-left-editor {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}
#uiacediff-right-editor {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}
.uiacediff-diff {
    background-color: #004d7a;
    border-top: 1px solid #036daa;
    border-bottom: 1px solid #036daa;
    position: absolute;
    z-index: 4;
}
.uiacediff-diff.targetOnly {
    height: 0px !important;
    border-top: 1px solid #036daa;
    border-bottom: 0px;
    position: absolute;
}
.uiacediff-connector {
    fill: #004d7a;
    stroke: #003554;
}

.uiacediff-copy-left {
    float: right;
}
.uiacediff-copy-right,
.uiacediff-copy-left {
    position: relative;
}
.uiacediff-copy-right div {
    color: #ffffff;
    position: absolute;
    margin: -3px 2px;
    cursor: pointer;
}
.uiacediff-copy-right div:hover {
    color: #004ea0;
}
.uiacediff-copy-left div {
    color: #ffffff;
    position: absolute;
    right: 0px;
    margin: -3px 2px;
    cursor: pointer;
}
.uiacediff-copy-left div:hover {
    color: #c98100;
}
